@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400&family=Nunito:wght@300;400;600;700;800;900&family=Russo+One&family=Spartan:wght@700;800;900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: syne;
}

body::-webkit-scrollbar {
    display: none;
}

html {
    user-select: none;
    scroll-behavior: smooth;
}

:root {
    --color1: #ffffff;
    --color2: #000000;
    --color3: #8a2be2;
    --color4: #959595;
}

.mainpage {
    height: 100vh;
    background-color: var(--color2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardcontainer img {
    width: 400px;
    border-radius: 50%;
    background-color: var(--color1);
}

.sidebar {
    position: absolute;
    top: opx;
    right: 0;
    width: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px;
    border-radius: 1rem;
    background-color: #9595955d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar .icon {
    width: 60px;
    height: 60px;
    margin: 15px 0;
    background-color: rgba(0, 0, 0, 0.618);
    border-radius: 12px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar .icon:hover {
    transform: scale(1.1);
}

.icon.Home::before {
    content: url(icons/home.svg);
}

.icon.About::before {
    content: url(icons/info.svg);
}

.icon.Projects::before {
    content: url(icons/folder.svg);
}

.icon.Skills::before {
    content: url(icons/cog.svg);
}

.icon.Contact7::before {
    content: url(icons/person.svg);
}

.home {
    background:
        linear-gradient(to top left, transparent 50%, var(--color4) 50%),
        linear-gradient(to bottom right, transparent 50%, var(--color4) 50%);
    background-position: top left, bottom right;
    background-size: 50% 50%;
    background-repeat: no-repeat;
}

.home-contents {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    scale: 0.9;
}

.home-contents img {
    padding-bottom: 0.5rem;
    width: 800px;
    margin-right: 1.5rem;
}

.home-contents .text h1 {
    font-size: 4rem;
    text-align: center;
}

.home-contents .text h2 {
    font-size: 1.8rem;
    text-align: center;
    padding: .3rem;
}

.home-contents .text h3 {
    font-size: 1.8rem;
    text-align: center;
    padding-top: 0.8rem;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.4rem;
}

.btn button {
    text-shadow: 1px 1px var(--color2);
    letter-spacing: 2px;
    color: var(--color3);
}

.btn button:hover {
    color: var(--color3);
}

.button-85 {
    padding: 0.5em 2em;
    border: none;
    outline: none;
    color: var(--color3);
    background: var(--color1);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    font-size: 1.2rem;
    font-weight: 500;
}

.button-85:before {
    content: "";
    background: linear-gradient(45deg, #8a2be2, #0d8f7e, #8f0d4a, #0059ff, #9d00ff, #ff0066);
    position: absolute;
    top: -5px;
    left: -5px;
    background-size: 400%;
    z-index: -1;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-button-85 {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.button-85:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--color1);
    left: 0;
    top: 0;
    border-radius: 10px;
}

.home-contents .text a {
    text-decoration: none;
}

span {
    color: var(--color3);
    font-size: 3.3rem;
}

.about {
    height: 100vh;
    background-color: var(--color2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap{
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-container{
    padding-top: 4rem;
    height: 100vh;
    width: 50%;
    margin-left: 1rem;
    position: absolute;
    left: 0;
    letter-spacing: 3px;
    color: var(--color1);
}

.about-heading h5{
    color: var(--color1);
    font-size: 5rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
    writing-mode: vertical-rl;
    white-space: nowrap;
}

.hover-word {
    transition: color 0.3s ease;
    cursor: text;
    font-size: 2.5rem;
    color: rgb(89, 89, 89);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
}

.hover-word:hover {
    color: rgb(0, 204, 255);
    font-weight: 700;
}

.about-head {
    padding: 0.5em 2em;
    border: none;
    outline: none;
    color: var(--color1);
    background: var(--color1);
    position: absolute;
    right: 5rem;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    font-size: 2rem;
    font-weight: 100;
}

.about-head:before {
    content: "";
    background: linear-gradient(45deg, #8a2be2, #0d8f7e, #8f0d4a, #0059ff, #9d00ff, #ff0066);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-button-85 {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.about-head:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--color2);
    left: 0;
    top: 0;
    border-radius: 10px;
}

.projects {
    height: 100vh;
    background:
        linear-gradient(to top left, transparent 50%, var(--color4) 50%),
        linear-gradient(to bottom right, transparent 50%, var(--color4) 50%);
    background-position: top left, bottom right;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills {
    height: 100vh;
    background-color: var(--color2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills h1 {
    font-size: 5rem;
    color: var(--color1);
}













.contacts {
    background:
        linear-gradient(to top left, transparent 50%, var(--color4) 50%),
        linear-gradient(to bottom right, transparent 50%, var(--color4) 50%);
    background-position: top left, bottom right;
    background-size: 50% 50%;
    background-repeat: no-repeat;
}

.contacts-div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    scale: 0.9;
}

.container {
    width: 100%;
    max-width: 500px;
    background: linear-gradient(120deg, #c189fe, #37034f);
    padding: 30px;
    border-radius: 26px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
    color: var(--color2);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    color: var(--color2);
    font-size: 20px;
}

input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border 0.3s ease;
}

input:focus {
    border-color: #252526;
    outline: none;
    box-shadow: 0 0 8px rgba(47, 48, 48, 0.5);

}

textarea {
    height: 50px;
    resize: none;
    overflow-y: auto;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    transition: border 0.3s ease, box-shadow 0.3s ease;
    background-color: #f9f9f9;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
}

textarea:focus {
    border-color: var(--color2);
    outline: none;
    box-shadow: 0 0 4px var(--color2);
}

textarea::-webkit-scrollbar {
    width: 8px;
}

textarea::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px;
}

textarea::-webkit-scrollbar-thumb:hover {
    background-color: #66a6ff;
}


button {
    width: 300px;
    margin: auto;
    padding: 12px;
    background-color: var(--color2);
    color: white;
    border: none;
    border-radius: 100px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #2e302f;
    color: var(--color1);
    transform: translateY(-3px);
}

button:active {
    transform: translateY(5px);
    color: var(--color1);
}

.captcha{
    display: flex;
    justify-content: center;
    align-items: center;
}


.social {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-radius: .5rem;
}

.social img {
    width: 100px;
    padding-left: 1rem;
    transition: 0.5s ease;
}

.social img:hover {
    transform: scale(1.2);
}

.contact-right {
    display: flex;
    flex-direction: column;
}

.contact-right .map {
    border: groove .5rem var(--color3);
    border-radius: .5rem;
    margin-top: 4rem;
}

.container1 {
    width: 100%;
    max-width: 660px;
    background: linear-gradient(120deg, #c189fe, #37034f);
    border-radius: 26px;
    padding-left: 1.5rem;
    padding-right: 2rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

iframe {
    border-radius: 1.5rem;
    margin: auto;
    margin-top: 1.5rem;
    width: 715px;
    height: 390px;
    box-shadow: 0 4px 4px var(--color2);
}

.footer-col {
    background-color: var(--color2);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-col .pages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin-right: 4rem;
    padding: 2rem;
}

.footer-col .pages a h1 {
    font-family: sans-serif;
    font-size: 1.2rem;
    font-weight: 200;
    text-transform: capitalize;
    padding-top: 20px;
    transition: 0.5s ease;
    color: var(--color1);
    position: relative;
    display: inline-block;
}

.footer-col .pages a h1::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: -3px;
    background-color: var(--color1);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease;
}

.footer-col .pages a h1:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.footer-col .pages a {
    text-decoration: none;
    word-spacing: 5px;
}

.footer-col .pages .heading-footer h1 {
    font-size: 3rem;
    color: var(--color1);
    position: relative;
    margin-bottom: 2rem;
}

.footer-col .pages .heading-footer h1::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -10px;
    background-color: var(--color3);
}

.copy {
    background-color: var(--color2);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color4);
}

.copy h1 {
    font-size: 1em;
    padding: .2rem;
    font-family: sans-serif;
    font-weight: 50;
    text-transform: uppercase;
    padding-bottom: 3rem;
}